<div id="pairingRate" class="tile box_1_1"></div>
<div id="commitsPerWorkspacePerProject" class="tile box_3_1"></div>
<div id="checkinsPerStoryPerProject" class="tile wide_box"></div>
<div id="modificationsPerStoryPerProject" class="tile wide_box"></div>
